<header>
  <div class="header">
    <div class="header__logo">
      <a routerLink="/home"
        ><img src="../assets/imagenes/globalmusic-logo.png" alt="logo"
      /></a>
    </div>
    <div class="header__opciones">
      <div class="header__carrito-compras">
        <a
          ><ion-icon name="cart-outline" (click)="viewCartShop()"></ion-icon
        ></a>
        <span>1</span>
      </div>
      <div class="header__nav">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a routerLink="/home" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a routerLink="/shop" class="nav__link">Shop</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container__cart-shop" #cartShop>
  <app-cart></app-cart>
</div>
