<header>
  <div class="header">
    <div class="header__logo">
      <a routerLink="/home"
        ><img src="../assets/imagenes/page/globalmusic-logo.png" alt="logo"
      /></a>
    </div>
    <div class="header__opciones">
      <div class="header__carrito-compras">
        <a
          ><ion-icon name="cart-outline" (click)="viewCartShop()"></ion-icon
        ></a>
        <span>{{ cart.length }}</span>
      </div>
      <div class="header__menu-hamburguesa">
        <ion-icon name="grid-outline" (click)="mostrarMenuNav()"></ion-icon>
      </div>
      <div class="header__nav" #navBar>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a routerLink="/home" class="nav__link">Home</a>
            </li>
            <li class="nav__item shop">
              <a routerLink="/shop" class="nav__link">Shop</a>
              <div class="link-shop-categories">
                <ul class="shop-categories">
                  <li class="categories-item">
                    <a
                      routerLink="/shop"
                      (click)="filtroTipoInstrumento('cuerdas')"
                      >Cuerdas</a
                    >
                  </li>
                  <li class="categories-item">
                    <a
                      routerLink="/shop"
                      (click)="filtroTipoInstrumento('percusion')"
                      >Percusión</a
                    >
                  </li>
                  <li class="categories-item">
                    <a
                      routerLink="/shop"
                      (click)="filtroTipoInstrumento('viento')"
                      >Viento</a
                    >
                  </li>
                  <li class="categories-item">
                    <a routerLink="/shop" (click)="filtroTipoInstrumento('all')"
                      >Ver todos</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container__cart-shop" #cartShop>
  <app-cart></app-cart>
</div>
