header{
    position: sticky;
    top: 0;
    z-index: 2;
}

a{
    color: #fff;
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
ion-icon{
    font-size: 1.5rem;
    cursor: pointer;
}
.header{
    background-color: black;
    color: #fff;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.header__logo{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img{
    width: 100%;
    height: 100%;
}

.header__opciones{
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.header__carrito-compras{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__carrito-compras span{
    position: absolute;
    top: 50%;
    right: -50%;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    width: 20px;
    height: 20px;
}

.header__carrito-compras ion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-hamburguesa{
    display: none;
}

.nav__list{
    display: flex;
    gap: 30px;
}

.container__cart-shop{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

.container__cart-shop.active{
    display: flex;
}

.link-shop-categories{
    background-color: #fff;
    position: absolute;
    border: 1px solid rgb(179, 179, 179);
    opacity: 0;
    z-index: 10;
    transition: .5s;
}

.shop-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-categories li{
    width: 100%;
}

.shop-categories li a {
    width: 100%;
    border-bottom: 1px solid rgb(179, 179, 179);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #000;
    transition: .2s;
    &:hover{
        background-color: #000;
        color: #fff;
        transition: .2s;
    }
}

/* .shop:hover .link-shop-categories{
    opacity: 1;
    transition: .5s;
} */

@media (max-width: 1400px) {
    .header{
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .header__menu-hamburguesa{
        display: block;
    }
    .header__nav{
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        align-items: center;
        top: 100px;
        position:absolute;
        left: 0;
        padding-top: 100px;
    }

    .nav__list{
        flex-direction: column;
    }

    .header__nav.active{
        display: flex;
    }
}