<app-header></app-header>
<div class="container">
  <div class="container__payment-details">
    <div class="details-card-after" #cardFront>
      <div class="card-after-type-card">
        <img
          src="./assets/imagenes/page/visa-logo.png"
          alt="visa-logo"
          class="visa-logo"
          #visaLogo
        />
        <img
          src="./assets/imagenes/page/mastercard-logo.png"
          alt="mastercard-logo"
          class="mastercard-logo"
          #masterCardLogo
        />
      </div>
      <div class="card-after-chip">
        <img src="./assets/imagenes/page/chip.png" alt="" />
      </div>
      <div class="card-after-number-card">
        <input type="text" readonly #numberCardAfter />
      </div>
      <div class="card-after-expiration-date">
        <div class="expiration-date-month">
          <input type="text" readonly #dateMonthAfter />
        </div>
        <div class="date-slash">
          <p>/</p>
        </div>
        <div class="expiration-date-year">
          <input type="text" readonly #dateYearAfter />
        </div>
      </div>
      <div class="card-after-name-card">
        <input type="text" readonly #nameCardAfter />
      </div>
    </div>
    <div class="details-card-after-back" #cardBack></div>
    <div class="payment-details-card"></div>
    <div class="payment-details-info-card">
      <h3>Detalles de pago</h3>
      <div class="info-card-form">
        <div class="form-name-card">
          <label for="name">Nombre en tarjeta</label>
          <input
            type="text"
            name="name"
            #nameCardBefore
            (input)="inputNameCard()"
            placeholder="Nombre de Prueba"
          />
        </div>
        <div class="form-number-card">
          <label for="number">Número de tarjeta</label>
          <input
            type="text"
            name="number"
            #numberCardBefore
            (input)="inputNumberCard()"
            placeholder="1234567890123456"
          />
        </div>
        <div class="form-date-cvv">
          <div class="date-cvv-expiration-date">
            <label for="date-month">Fecha de expiración</label>
            <div class="expiration-date-input">
              <div class="date-month">
                <input
                  type="text"
                  name="date"
                  #dateMonthBefore
                  (input)="inputDateMonth()"
                  placeholder="Month"
                />
              </div>
              <div class="date-input-slash"><p>/</p></div>
              <div class="date-year">
                <input
                  type="text"
                  name="date"
                  #dateYearBefore
                  (input)="inputDateYear()"
                  placeholder="Year"
                />
              </div>
            </div>
          </div>
          <div class="date-cvv-cvv">
            <label for="cvv">CVV</label>
            <input
              type="text"
              name="cvv"
              class="input-cvv"
              #inputCvv
              placeholder="123"
            />
          </div>
        </div>
      </div>
      <div class="info-card-btn-pay">
        <button type="submit" class="btn-pay" (click)="pay()">Pagar</button>
      </div>
    </div>
  </div>
</div>
