.container__info{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__info-principal{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    row-gap: 20px;
}

.info-principal-title{
    font-size: 2rem;
}

.info-principal-desc{
    font-size: 1.5rem;
}

.info-principal-btns{
    display: flex;
    gap: 20px;
}

.comprar-ahora{
    background-color: #000;
    color: #fff;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    &:hover{
        background-color: rgba(0, 0, 0, 0.8);
        transition: .5s;
    }
}

.explorar-categorias{
    background-color: #fff;
    border: 1px solid rgb(172, 172, 172);
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
    &:hover{
        background-color: rgba(228, 211, 211, 0.5);
        transition: .5s;
    }
}

.container__img-principal{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.carrusel-item{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel-item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: aqua;
}

.container__productos-destacados{
    background-color: rgb(244, 244, 245);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
}

.container__productos-des-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos-destacados{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.container__explorar-categorias{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__explorar-categorias-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-left: 10%;
}

.explorar-categorias-cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 10%;
}

.carta-categoria{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.carta-categoria-img{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carta-categoria-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: aqua;
}

@media (max-width: 1400px) {
    .container__info{
        flex-direction: column;
        height: auto;
        padding: 5%;
        row-gap: 20px;
    }

    .container__info-principal{
        width: 100%;
        padding-left:0%;
    }

    .container__img-principal{
        width: 100%;
    }

    .carrusel-item{
        width: auto;
        height: auto;
    }

    .info-principal-btns{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-principal-btns button{
        width: 100%;
    }

    .container__productos-destacados{
        width: 100%;
        height: auto;
        padding: 5%;
    }

    .productos-destacados{
        width: 100%;
        height: auto;
    }

    .container__explorar-categorias{
        padding: 5%;
        height: auto;
    }

    .container__explorar-categorias-info{
        width: 100%;
        height: auto;
        padding-left: 0%;
    }

    .explorar-categorias-cartas{
        width: 100%;
        height: auto;
        padding-right: 0%;
    }

    .carta-categoria{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .container__explorar-categorias{
        flex-direction: column;
    }
}

@media(max-width:700px){
    .carta-categoria{
        grid-template-columns: 1fr;
    }
}